.page-title {
    color: blue;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.return-to-home {
  display: inline-block;      /* allows padding/margin */
  color: white;               /* text color */
  background-color: #007BFF;  /* blue background */
  padding: 10px 16px;         /* inner spacing */
  text-decoration: none;      /* removes underline */
  border-radius: 6px;         /* rounded corners */
  font-weight: bold;          /* optional, for emphasis */
  transition: background 0.3s ease;
}

/* Optional hover effect */
.return-to-home:hover {
  background-color: #0056b3;  /* darker blue on hover */
  color: orange
}

.ingredient-list {
    background-color: #d0c0d9;
    padding-block: 20px 20px;
    margin-block: 10px 10px;
    border-radius: 6px; 
}